:root {
	--ff-primary: 'Roboto', sans-serif;
	--ff-secondary: 'Roboto Mono', monospace;
	--ff-title: 'Roboto Flex', sans-serif;
	--clr-blue: #2973C4;
	--clr-green: #108800;
	--clr-red: #e50a10;
	--clr-orange: #ff7300;
	--clr-cyan: #00ced1;
	--clr-white: #fcfcfc;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background: url("../images/bg.webp") center fixed;
	background-size: cover;
	font-family: var(--ff-primary);
	color: var(--clr-white);
	font-size: 12px;
	width: 420px;
	height: 600px;
	margin: 0 auto;
}

.content {
	filter: blur();
	transition: filter 0.3s ease-in;
}

.fade-out {
	filter: blur(25px);
}

.secondary-text {
	font-family: var(--ff-secondary);
}

.card-ability,
.section-countdown,
footer {
	text-shadow:
		-1px -1px #000,
		1px -1px #000,
		-1px 1px #000,
		1px 1px #000;
}

a {
	text-decoration: none;
	color: inherit;
}

.btn {
	all: unset;
	font-size: 14px;
	cursor: pointer;
}

.section-buttons {
	padding-top: 25px;
	display: flex;
	justify-content: center;
}

.btn-category {
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	width: 70px;
	padding: 3px 12px;
	transition: all 0.5s ease;
}

.btn-card {
	background-color: var(--clr-blue);
}

.btn-card:hover,
.btn-card:focus {
	box-shadow: 0px 7px 0px 0px var(--clr-green);
}

.btn-card:active,
.btn-card-select {
	box-shadow: 0px 7px 0px 0px var(--clr-green);
	background: var(--clr-white);
	color: var(--clr-blue);
}

.btn-location {
	background-color: var(--clr-green);
}

.btn-location:hover,
.btn-location:focus {
	box-shadow: 0px -7px 0px 0px var(--clr-red);
}

.btn-location:active,
.btn-location-select {
	box-shadow: 0px -7px 0px 0px var(--clr-red);
	background: var(--clr-white);
	color: var(--clr-green);
}

.btn-bot {
	background-color: var(--clr-red);
}

.btn-bot:hover,
.btn-bot:focus {
	box-shadow: 0px 7px 0px 0px var(--clr-blue);
}

.btn-bot:active,
.btn-bot-select {
	box-shadow: 0px 7px 0px 0px var(--clr-blue);
	background: var(--clr-white);
	color: var(--clr-red);
}

.section-search {
	padding: 18px 0 14px;
	text-align: center;
}

.search-term {
	font-size: 16px;
	text-align: center;
	width: 330px;
	height: 60px;
	border: 4px ridge var(--clr-blue);
	border-radius: 28px;
	outline: none;
	background-color: #f0f8ff;
	caret-color: var(--clr-blue);
	transition: all 0.5s ease-in;
}

.search-term:hover,
.search-term:focus {
	transform: scale(1.02);
	box-shadow: 0 0 10px #da70d6;
}

.animate-searchbox {
	animation: shake-searchbox 400ms ease;
}

@keyframes shake-searchbox {
	0%, 100% { transform: translateX(0) }
	25%, 75% { transform: translateX(2px) }
	50% { transform: translateX(-2px) }
}

.section-search-result {
	height: 300px;
	display: flex;
}

.search-result-img {
	width: 48%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6px;
}

.card-img {
	opacity: 0;
	filter: contrast(110%);
}

.card-img-card {
	height: 230px;
	width: 230px;
}

.card-img-location {
	width: 200px;
}

#location-img-div {
	justify-content: center;
}

.search-result-info {
	width: 52%;
	font-size: 16px;
	padding-top: 12px;
	padding-right: 16px;
}

.animate-card {
	opacity: 1;
	animation: blur 400ms ease-in-out, card-pulse 2.5s linear 350ms alternate infinite;
}

.animate-location {
	opacity: 1;
	transform-style: preserve-3d;
	animation: rotate 300ms linear, loc-pulse 1.5s linear 300ms alternate infinite;
}

@keyframes card-pulse {
	0% {
		filter: drop-shadow(0 0 12px #f5f5f586);
		transform: scale(1);
	}
	50% {
		filter: drop-shadow(0 0 12px #daa520);
		transform: scale(1.015);
	}
	100% {
		filter: drop-shadow(0 0 12px #f5f5f5);
		transform: scale(1);
	}
}

@keyframes loc-pulse {
	from {
		filter: drop-shadow(0 0 8px #e6e6fa);
		transform: scale(1);
	}
	to {
		filter: drop-shadow(0 0 8px #ee82ee);
		transform: scale(1.01);
	}
}

@keyframes rotate {
	from {
		opacity: 0.1;
		transform: perspective(600px) rotateY(-180deg);
	}
	to {
		opacity: 1;
		transform: perspective(600px) rotateY(0deg);
	}
}

@keyframes blur {
	0% { filter: blur(10px); }
	100% { filter: blur(0px); }
}

@keyframes reveal {
	0% { opacity: 0; }
	25% { opacity: 0.1; }
	50% { opacity: 0.3; }
	75% { opacity: 0.7; }
	90% { opacity: .8; }
	100% { opacity: 1; }
}

@keyframes stretch {
	from { width: 80% }
	to { width: 65% }
}

.location-search-result {
	align-self: center;
}

.search-result-info {
	opacity: 0;
	animation: reveal 700ms ease-in forwards;
}

.search-result-info h3 {
	text-align: center;
	margin-top: 0;
}

.evolved-card span {
	display: block;
	margin-bottom: 6px;
}

.evolved-text {
	color: #1fdd06;
}

.card-title {
	position: relative;
	margin-top: 4px;
	margin-bottom: 12px;
	padding-bottom: 6px;
	text-align: center;
	letter-spacing: 2px;
	text-shadow: 3px 2px var(--h2-shadow);
	font-family: var(--ff-title);
}

.card-title::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: 5px;
	filter: blur(1px);
	border-radius: 50%;
	background: var(--h2-border);
	animation: stretch 800ms ease-in-out infinite alternate;
}

.search-result-info-stats h3 {
	margin: 0;
	text-align: center;
}

.card-stats {
	margin-left: 1px;
}

.stats-text {
	letter-spacing: 1px;
	color: var(--clr-white);
}

.text-cost {
	text-shadow:
		-1px -1px #4567ff,
		1px -1px #4567ff,
		-1px 1px #4567ff,
		1px 1px #4567ff;
}

.cost {
	color: #2447feff;
	text-shadow:
		-1px -1px #add8e6,
		1px -1px #add8e6,
		-1px 1px #add8e6,
		1px 1px #add8e6;
}

.text-power {
	text-shadow:
		-1px -1px #ff9549,
		1px -1px #ff9549,
		-1px 1px #ff9549,
		1px 1px #ff9549;
}

.power {
	color: #fe7122ff;
	text-shadow:
		-1px -1px #f5deb3,
		1px -1px #f5deb3,
		-1px 1px #f5deb3,
		1px 1px #f5deb3;
}

.card-ability {
	letter-spacing: 0.5px;
}

.search-result-info-source {
	opacity: 0;
	margin: 0;
	font-size: 16px;
	font-weight: 700;
}

.source-origin {
	color: #f5f8f8;
	font-style: italic;
	text-transform: uppercase;
	padding: 0 16px 1px 12px;
	clip-path: polygon(5px 0%, 100% 0%, calc(100% - 5px) 100%, 0% 100%);
	text-shadow:
		-.5px -.5px #4c555b,
		.5px -.5px #4c555b,
		-.5px .5px #4c555b,
		.5px .5px #4c555b;
}

.series1,
.series2 {
	background-image: linear-gradient(#85ccd8, #658089);
}

.series3 {
	background-image: linear-gradient(#2d7e56, #8df289);
}

.series4 {
	background-image: linear-gradient(#0c7bfc, #00bce1);
}

.series5 {
	background-image: linear-gradient(#d93758, #b62b84);
}

.season-pass {
	background-image: linear-gradient(#cb28e1, #7e80df);
}

.summon {
	background-image: linear-gradient(#8d2f1d, #ad5017);
}

.unreleased {
	background-image: linear-gradient(#192929, #1a5564);
}

.section-controls {
	display: flex;
	justify-content: center;
	gap: 16px;
	padding: 4px 0;
}

.hide-controls {
	visibility: hidden;
	animation: fade-out 300ms ease-out forwards;
}

.show-controls {
	animation: fade-in 300ms ease-in forwards;
}

@keyframes fade-out {
	from { opacity: 1; }
	to { opacity:  0; }
}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity:  1; }
}

.btn-randomize {
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.6px;
	padding: 8px 24px;
	border-radius: 26px;
	background: var(--btn-color, #2973C4);
	border: 1px solid #f7f7f721;
	box-shadow: 0px 6px 6px 0px #00000096;
	position: relative;
	z-index: 0;
}

.btn-randomize:before {
	content: '';
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	border-radius: 26px;
}

.btn-randomize:active {
	color: #f5f5f5
}

.btn-randomize:active:after {
	background: transparent;
}

.btn-randomize:hover:before,
.btn-randomize:focus:before {
	opacity: 1;
}

.btn-randomize:after {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 26px;
	background: var(--btn-color, #2973C4);
}

@keyframes glowing {
	0% { background-position: 0 0; }
	50% { background-position: 400% 0; }
	100% { background-position: 0 0; }
}

.btn-deck-builder {
	position: relative;
	display: block;
	height: 100%;
	border-radius: 3px;
	background-color: #a5a5a5a4;
	box-shadow: 0px 6px 6px 0px #00000096;
	transition: transform .2s ease-out;
}

.btn-deck-builder img {
	display: block;
}

.btn-deck-builder:hover {
	transform: scale(1.05);
}

.btn-deck-builder:focus {
	transform: scale(1.05);
	box-shadow: 0 0 40px 3px #81c4e7;
}

.btn-deck-builder:hover::before {
	content: "Build a deck!";
	position: absolute;
	top: -55%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	padding: 5px;
	color: #2F88FF;
	text-align: center;
	border-radius: 3px;
	background-color: #000;
	font-family: var(--ff-title);
}

.btn-deck-builder:hover::after {
	content: "";
	position: absolute;
	top: -11px;
	left: 50%;
	transform: translateX(-50%);
	border-style: solid;
	border-width: 8px 8px 0;
	border-color: #000 transparent transparent;
}

.btn-deck-builder {
	color: #f0ffff;
	display: inline-block;
	font-weight: bold;
}

.section-countdown {
	font-size: 16px;
	visibility: hidden;
	letter-spacing: 1px;
	padding: 16px 0;
}

.section-countdown h4 {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-countdown img {
	margin-right: 4px;
	filter: contrast(150%);
}

.season-calendar {
	all: unset;
	cursor: pointer;
	padding: 2.5px;
	display: inline-flex;
	border-bottom: 3px solid #adff2f;
	transition: all 0.3s ease-in;
}

.season-calendar:hover,
.season-calendar:focus {
	color: #adff2f;
	border-color: var(--clr-white);
}

.countdown {
	padding: 6px;
	min-width: 205px;
	text-align: center;
	background: #00000060;
	display: inline-flex;
	justify-content: center;
	box-shadow: 3px 3px #00008b;
	transform-style: preserve-3d;
	opacity: 0;
	transform: scaleY(-1);
	animation: flipVertical 300ms ease-in 1s forwards;
	text-shadow:
		-0.5px -0.5px var(--clr-orange),
		0.5px -0.5px var(--clr-orange),
		-0.5px 0.5px var(--clr-orange),
		0.5px 0.5px var(--clr-orange);
}

@keyframes flipVertical {
	to {
		opacity: 1;
		transform: scaleY(1);
	}
}

.section-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 50px 0;
	width: 420px;
	height: 100%;
	background-color: #120020e7;
	overflow: auto;
}

.section-modal {
	scrollbar-color: var(--clr-blue) #333;
	scrollbar-width: thin;
}

.modal-content {
	position: relative;
	font-size: 14px;
	letter-spacing: 0.8px;
	line-height: normal;
	background: #1b1b1b;
	margin: auto;
	padding: 12px;
	border: 3px solid #202020;
	border-radius: 4px;
	width: 90%;
	animation: slide 0.3s ease-out;
}

.modal-close {
	text-align: right;
	margin: 0;
	margin-top: -26px;
	margin-right: -26px;
}

.modal-close-btn {
	color: #a9a9a9;
	background-color: #00335e;
	border-radius: 50%;
	padding: 2px 6px;
	font-weight: bold;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
	color: #191970;
	background-color: #8b0000;
}

.modal-content-header {
	font-family: var(--ff-title);
	font-size: 26px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #021319;
	color: #050e01;
	border: 1px solid #eccd50;
	border-radius: 4px;
	padding: 6px;
	margin-top: 6px;
	transition: all 0.3s ease-in;
	text-shadow:
		1px 0 #eccd50,
		0 1px #eccd50,
		-1px 0 #eccd50,
		0 -1px #eccd50;
}

.modal-content-header:hover {
	background-color: #eccd50;
	border: 1px solid #006083;
	text-shadow:
		1px 0 #00b7ff2a,
		0 1px #00b7ff2a,
		-1px 0 #00b7ff2a,
		0 -1px #00b7ff2a;
}

.modal-content h3 {
	font-family: var(--ff-title);
	letter-spacing: normal;
	text-transform: uppercase;
	color: var(--clr-blue);
	margin-bottom: 0;
	text-shadow:
		-.5px -.5px #000,
		.5px -.5px #000,
		-.5px .5px #000,
		.5px .5px #000;
}

.styled-list {
	margin-top: 0;
	list-style: none;
	letter-spacing: 1.5px;
}

.styled-list li::before {
	content: "\2022";
	color: #ffd700;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

@keyframes slide {
	from {
		bottom: -200px;
		opacity: 0
	}
	to {
		bottom: 0;
		opacity: 1
	}
}

details {
	font-weight: bold;
}

summary::marker {
	color: #ffd700;
}

.date {
	color: var(--clr-orange);
	font-family: var(--ff-secondary);
}

.list-item {
	font-weight: bold;
}

.list-padding {
	padding: 1px 3px;
	line-height: 1.75;
}

.highlight-location {
	background-color: var(--clr-green);
}

.event {
	margin-top: 0;
	list-style: none;
	margin-left: -1em;
}

.event-list {
	color: var(--clr-cyan);
	letter-spacing: normal;
}

footer {
	position: fixed;
	overflow: hidden;
	bottom: 0;
	height: 40px;
	width: 100%;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 1px;
	padding: 0 12px;
	background-color: #0000009f;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer div {
	opacity: 0;
	animation: fade-in .4s ease-out .5s forwards;
}

footer img {
	display: block;
}

.socials,
.socials li{
	display: flex;
}

.socials {
	gap: 3px;
	padding: 0;
	opacity: 0;
	transform: translateX(50%);
	animation: showSocials .3s ease-out .3s forwards;
}

.socials li {
	transition: all .2s ease-in;
}

.round,
.news {
	background-color: #080808;
	border: 1px solid #ffffff21;
}

.round {
	border-radius: 50%;
	padding: 2.5px;
}

.round:hover {
	filter: brightness(115%);
}

.news:hover {
	background-color: #2bb24c;
}

.discord:hover {
	background-color: #5865f2;
}

.reddit:hover {
	background-color: #ff4500;
}

.twitch:hover {
	background-color: #9146ff;
}

.twitter:hover {
	background-color: #1da1f2;
}

.youtube:hover {
	background-color: #ff0000;
}

.kofi:hover {
	animation: bounce 1s ease-in;
}

@keyframes showSocials {
	to { transform: translateX(0%); opacity: 1; }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
	40% { transform: translateY(-6px); }
 	60% {	transform: translateY(-3px); }
}

.avengers {
	color: #00dbff;
}

.xmen {
	color: #ffe024;
}

.avx-avengers li::before {
	color: #00dbff;
}

.avx-xmen li::before {
	color: #ffe024;
}